/* Provide sufficient contrast against white background */
/* a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  font-size: larger;
}

.container {
  position: absolute;
  top: 25%;
  width: 80%;
  left: 10%;
}

body {
  text-align: center;
  --heading-color: #475154;
  --text-color: #222; 
  --bkg-color: #fff;
}
body.dark-theme {
  --heading-color: #eee;
  --text-color: #eee;
  --bkg-color: #475154;
}

h1 {
  padding: 0.5em;
}

.btn-toggle-color {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1;
}

input[type=number] {
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: larger;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}

.answer-txt {
  color: #96d396;
}

@media (prefers-color-scheme: dark) {
  body {
    --heading-color: #eee;
    --text-color: #eee;
    --bkg-color: #475154;
  }
  body.light-theme {
    --heading-color: #475154;
    --text-color: #222;
    --bkg-color: #fff;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bkg-color);
}

h1 {
  color: var(--heading-color);
}

p {
  color: var(--text-color);
}